<div *ngFor="let i of news| slice :0:slice; "><!--| slice :0:slice;-->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <div class="noticia-more">
          
          <ion-button (click)="lanzarmenu(i)"  fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </div>
        {{i.author}}
       
      </ion-card-subtitle>
      <ion-card-title>{{i.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="i.urlToImage" (click)="abrirnoticia(i.url)"></ion-img>
      <p>{{i.description}}
       
      </p>
      
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="25%" [disabled]="false" position="bottom" (ionInfinite)="loadNew($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregant mes informació....">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  


</div>
