<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fav
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div *ngFor="let i of news">
    <ion-card >
      <ion-card-header>
        <ion-card-subtitle>
          <div class="noticia-more">      
            <ion-button (click)="lanzarmenu(i)"  fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </div>
          {{i.author}}</ion-card-subtitle>
        <ion-card-title>{{i.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="i.urlToImage"(click)="abrirnoticia(i.url)"></ion-img>
        <p>{{i.description}}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>