<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable="true">
    <ion-segment-button id="cat" *ngFor="let i of categorias" (click)="loadNew(i)" >
      <ion-button fill="clear">{{i}}</ion-button>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
 
    

  <div *ngFor="let i of news | slice :0:slice;">
    <ion-card >
      <ion-card-header>
        <ion-card-subtitle>{{i.author}}
          <div class="noticia-more">
            <ion-button (click)="lanzarmenu(i)"  fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-subtitle>
        <ion-card-title>{{i.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="i.urlToImage"(click)="abrirnoticia(i.url)"></ion-img>
        <p>{{i.description}}</p>
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll threshold="25%" [disabled]="false" position="bottom" (ionInfinite)="loadNew($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregant mes informació....">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
