<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-card ></app-card>

</ion-content>


<!--<app-card (ngModel)="news"></app-card>-->